{% include 'base.html.twig' %}
{% block body %}
{% for genre in newGenre %}

 
  </br>
 Titre : {{genre.titre}}
 
 

 
{% endfor %}
</br>
<a href='/'>Accueil</a>

{% if newGenre == false %}
 
 <h1>Ce genre n'existe pas  </h1>
 {% if newGenre == 'sciences' %}
 
 <h1>Il n'y a pas de livres de sciences </h1>


    {% endif %}
     {% if newGenre == 'histoire' %}
 
 <h1>Il n'a pas de livres d'histoire  </h1>


    {% endif %}


    {% endif %}
   
    
{% endblock %}
