{% include 'base.html.twig' %}
 {% block body %}
 
 <h1>Nom de la Bibliothèque : Plus jamais l'original</h1>
 <h2>
 Horaire d'ouverture
 <br></br>
 Lundi au Vendredi : 8h-20h
 <br></br>
 Samedi : 8h-21h
 <br></br>
 Dimanche : Fermé
 </h2>
 <br></br>
 Il y a {{nbOuv}} dans cette Bibliothèque.
 <br></br>
 <a href='/Catalogue'>Catalogue</a>
  <br></br>
 <a href='/catalogue/genre/informatique'>Informatique</a>
  <a href='/catalogue/genre/litterature'>Litterature</a>
    <a href='/catalogue/genre/sciences'>Sciences</a>
    <a href='/catalogue/genre/histoire'>Histoire</a>
   <br></br>
 <a href='/statistiques'>statistiques</a>
 {% endblock %}